{% extends "base.html" %} {% block title %}Accueil{% endblock %} {% block body
%} {% if user.is_admin != "0" and user is not null %}
<div class="content-wrapper" style="padding-top: 32px;">
  <h1 class="stat-1">Nombre de produits : <span id="productCount"></span></h1>
  <p class="sub-stat">
    Nombre de produits moyen par utilisateur : <span id="productPerUser"></span>
  </p>

  <div class="charts-wrapper">
    <div class="chart">
      <h4>Nombre de produits par jour</h4>
      <canvas id="productPerDayChart" class="bar-chart"></canvas>
    </div>

    <div class="chart">
      <h4>Nombre de produits par jour</h4>
      <canvas id="mostViewedChart" class="bar-chart"></canvas>
    </div>
  </div>
</div>
{%else%}
<div class="no-access">
    <img src="/images/private.svg" alt="">
  <h1 style="margin: 32px auto; width: fit-content">
    Vous n'avez pas accès à cette page
  </h1>
</div>
{% endif %} {% endblock %} {% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<script type="text/javascript">
  $productCount = $("#productCount");
  $productPerUser = $("#productPerUser");

  $usersProductsMap = {};

  function renderDashboard() {
    $.ajax({
      url: "/api/products" + "?sort=",
    }).done(function (result) {
      $productCount.text(result.length);

      //TODO : make an object with the number of pruduct for each user
      result.forEach((product) => {
        if ($usersProductsMap[product.user_id] == undefined) {
          $usersProductsMap[product.user_id] = 1;
        } else {
          $usersProductsMap[product.user_id] += 1;
        }
      });

      const averageProductPerUser =
        Object.values($usersProductsMap).reduce((a, b) => a + b) /
        Object.values($usersProductsMap).length;

      $productPerUser.text(averageProductPerUser.toFixed(2));

      //TODO: Bar chart with the number of product per day
      $productPerDayMap = {};
      result.forEach((product) => {
        const date = new Date(product.published_date);
        dateToDay =
          date.getDate() + "/" + date.getMonth() + "/" + date.getFullYear();
        if ($productPerDayMap[dateToDay] == undefined) {
          $productPerDayMap[dateToDay] = 1;
        } else {
          $productPerDayMap[dateToDay] += 1;
        }
      });

      //sort map by date
      $productPerDayMap = Object.keys($productPerDayMap)
        .sort()
        .reduce((obj, key) => {
          obj[key] = $productPerDayMap[key];
          return obj;
        }, {});

      $productPerDay = $("#productPerDay");

      //use chart.js to render the chart
      var ctx = document.getElementById("productPerDayChart").getContext("2d");

      const myChart = new Chart("productPerDayChart", {
        type: "line",
        data: {
          labels: Object.keys($productPerDayMap),
          datasets: [
            {
              label: "Nombre de produit par jour",
              data: Object.values($productPerDayMap),
              backgroundColor: "rgba(255, 99, 132, 0.2)",
              borderColor: "rgba(255, 99, 132, 1)",
              borderWidth: 1,
            },
          ],
        },
        options: {},
      });

      //TODO: 5 most viewed products

      $mostViewedMap = {};

      result.forEach((product) => {
        if ($mostViewedMap[product.name] == undefined) {
          $mostViewedMap[product.name] = product.views;
        } else {
          $mostViewedMap[product.name] += product.views;
        }
      });

      //sort by views and keep the 5 first
      $mostViewedMap = Object.keys($mostViewedMap)
        .sort(function (a, b) {
          return $mostViewedMap[b] - $mostViewedMap[a];
        })
        .reduce((obj, key) => {
          obj[key] = $mostViewedMap[key];
          return obj;
        }, {});

      //keep only the 5 first

      $mostViewedMap = Object.keys($mostViewedMap)
        .slice(0, 5)
        .reduce((obj, key) => {
          obj[key] = $mostViewedMap[key];
          return obj;
        }, {});

      $mostViewedChart = $("#mostViewedChart");

      //use chart.js to render the chart
      var ctx = document.getElementById("mostViewedChart").getContext("2d");

      const viewChart = new Chart("mostViewedChart", {
        type: "polarArea",
        data: {
          labels: Object.keys($mostViewedMap),
          datasets: [
            {
              label: "Nombre de produit par jour",
              data: Object.values($mostViewedMap),
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
              ],
              borderWidth: 1,
              yAxes: [
                {
                  ticks: {
                    beginAtZero: true,
                  },
                },
              ],
            },
          ],
        },
        options: {},
      });
    });
  }

  $(document).ready(function () {
    renderDashboard();
  });
</script>
{% endblock %}
