/*
* Content Account
*/

.bg-image {
  text-align: center;
  img {
    width: 100%;
  }
}

.login-wraper {
  position: relative;
  .login-window {
    border: solid 3px #ea2c5a;
    position: absolute;
    border-radius: 10px;
    .l-head {
      background-color: #ea2c5a;;
      padding: 40px;
      font-weight: 500;
      font-size: $fs-lg;
      color: white;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    .l-form {
      text-align: left;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      padding: 25px 70px 70px;
      label {
        font-weight: 500;
      }

      .l-actions {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .btn {
        width: 100%;
        @media only screen and(max-width: 767px) {
          border-radius: 30px;
          padding-top: 16px;
          padding-bottom: 12px;
        }
      }
    }
  }
  .checkbox {
    font-weight: normal;
    @media only screen and(max-width: 767px) {
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 4px;
    }
    .text2 {
      display: block;
      font-size: $fs-sm;
      color: $c-light;
    }
  }

  .ortext {
    padding-top: 25px;
    color: $c-light;
  }
  .signuptext {
    padding-top: 25px;
    text-align: center;
    color: $c-caption;
    font-weight: 500;
    &.text-right {
      text-align: right;
    }
  }
  .forgottext {
    a {
      color: $c-light;
      &:hover {
        text-decoration: underline;
      }
    }
    margin-top: 25px;
  }
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -580px;
  width: 550px;
  .line {
    height: 1px;
    border-top: solid 1px $c-active;
    padding-bottom: 50px;
    width: 280px;
  }
  .b-text {
    color: $c-white;
    font-size: $fs-xl;
    text-align: left;
    line-height: $fs-xl;
    .color-b1 {
      color: #b7135d;
    }
    .color-b2 {
      color: #be154e;
    }
    .color-b3 {
      color: #d71d52;
    }
  }
  .overtext {
    margin-top: 30px;
    color: $c-banner-t;
    text-align: left;
  }
}

@media (min-width: 100px) {
  .banner-text {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    width: auto;
    .line {
      display: none;
    }
    .b-text {
      color: #000000;
      font-size: 30px;
      text-align: center;
      line-height: 30px;
      padding-top: 30px;
    }
    .overtext {
      margin: 15px 0;
      color: #a1a1a1;
      text-align: center;
    }
  }

  .login-wraper {
    .login-window {
      position: relative;
      width: auto;
      max-width: 600px;
      top: 0;
      left: 0;
      margin: 0 auto;
      .l-head {
        padding: 20px 10px;
      }
      .l-form {
        text-align: left;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 25px 20px;
      }
    }
  }
}
/*
* Content Account END
*/
