.charts-wrapper {
  width: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 16px;
  margin: 32px 0;

  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.chart {
  min-width: 300px;
  width: 100%;
  margin: 0 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border: 2px solid $c-active;
}

.stat-1 {
  margin-left: 16px;
  margin-bottom: 0;
}

.sub-stat {
  margin-left: 16px;
  font-weight: 200;
  font-size: 14px;
  opacity: 0.5;
}

.no-access {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  padding: 16px;

  img {
    width: 100%;
    max-width: 400px;
  }
}
