/*
* HEADER
*/

.btn-color-toggle {
  position: fixed;
  left: 30px;
  top: 24px;
  cursor: pointer;
  z-index: 100;
  @media only screen and(max-width: 1080px) {
    left: inherit;
    right: 30px;
    top: 100px;
  }
  @media only screen and(max-width: 767px) {
    display: none !important;
  }
}

body.ovf--hidden {
  overflow: hidden !important;
}

ul.menu {
  position: relative;
  margin-bottom: 0;
  z-index: 10;
  li {
    &:hover ul {
      display: block;
    }
  }
  ul {
    display: none;
    list-style: none;
    padding: 0;
    z-index: 1;
    background-color: white;
    border: solid 1px #eceff0;
    position: absolute;
    li {
      a {
        display: block;
        padding: 10px 15px;
      }
      &:not(:last-child) {
        border-bottom: solid 1px #eceff0;
      }
    }
  }
}

.btn-menu-toggle {
  display: block;
}

.topsearch {
  & > i {
    display: none;
  }
  .form-control {
    height: 40px;
    padding: 6px 12px;
    padding-top: 10px;
  }

  .input-group {
    @include display-flex();
    & > span {
      @media only screen and(max-width: 767px) {
        margin-left: auto;
      }
    }
  }

  .input-group-addon, .input-group-btn, input {
    width: auto;
    border: none;
    background-color: $c-divider;
  }

  .input-group-addon {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 20px;
    i {
      font-size: 18px;
      padding-left: 3px;
      padding-top: 3px;
      color: $c-icon;
    }
  }

  input {
    box-shadow: inset 0px 0px 0px 0px white;
    padding-top: 10px;
    width: 480px;
    border-top-right-radius: 20px;
  }

  .input-group-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 10px;
    .btn {
      padding: 8px 12px 4px 12px;
    }
    .btn-default {
      color: $c-icon;
      background-color: transparent;
      border: none;
    }
    .cvicon-cv-video-file {
      font-size: 20px;
    }
    .caret {
      margin-top: -5px;
    }
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }
}
.navbar-container {
  @media only screen and(max-width: 767px) {
    min-height: 90px;
    padding-bottom: 0 !important;
    align-items: center;
    @include display-flex();
  }
  & > .container {
    @media only screen and(max-width: 767px) {
      width: 100%;
    }
  }
  &:not(.search-open) {
    .input-group-addon {
      @media only screen and(max-width: 767px) {
        background-color: transparent;
      }
    }
    input,
    .input-group-btn {
      @media only screen and(max-width: 767px) {
        display: none !important;
      }
    }
  }
  &.search-open {
    .topsearch {
      @media only screen and(max-width: 767px) {
        position: absolute;
        left: 15px;
        right: 15px;
        align-items: center;
        @include display-flex();
      }
      & > i {
        @media only screen and(max-width: 767px) {
          display: block;
          margin-right: 15px;
          font-size: 20px;
        }
      }
    }
    .input-group {
      @media only screen and(max-width: 767px) {
        width: 100%;
      }
    }
    .btn-menu-toggle,
    .navbar-brand {
      @media only screen and(max-width: 767px) {
        visibility: hidden !important;
      }
    }
  }
}

.avatar {
  width: 70px;
  padding-top: 12px;
  margin-left: 14px;
  position: relative;
  .status {
    position: absolute;
    top: 12px;
    left: 0px;
    background-color: $c-green;
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
  }
}

.selectuser {
  padding-left: 0px;

  .btn-default {
    background-color: transparent;
    border: none;
  }
  .btn .caret {
    margin-left: 5px;
  }
}

.loginsignup {
  text-align: right;
  a {
    color: $c-icon;
    &:hover {
      text-decoration: underline;
    }
  }

}

.navbar-brand {
  padding: 12px 15px;
  @media only screen and(max-width: 767px) {
    align-items: center;
    justify-content: center;
    @include display-flex();
  }
  span {
    @media only screen and(min-width: 768px) {
      display: none;
    }
    @media only screen and(max-width: 767px) {
      margin-left: 10px;
      margin-top: 4px;
      font-size: 20px;
      color: #ea2c5a;
      font-weight: bold;
    }
  }
}

.navbar-container {
  position: relative;
  height: 70px;
  border-bottom: solid 1px $c-divider;
  &.single {
    padding: 0;
  }
  [class^='col-'] {
    @media only screen and(max-width: 767px) {
      position: static;
    }
  }
  .input-group input.form-control {
    width: 455px;
  }
  .container {
    position: relative;
    .upload-button {
      z-index: 10;
      position: absolute;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      border: solid 1px $c-green-up;
      top: 40px;
      right: -100px;
      background-color: $c-green-up;
      color: $c-white;
      text-align: center;
      -webkit-box-shadow: 2px 2px 10px 0px rgba(44, 206, 143, 0.56);
      -moz-box-shadow: 2px 2px 10px 0px rgba(44, 206, 143, 0.56);
      box-shadow: 2px 2px 10px 0px rgba(44, 206, 143, 0.56);
      &:hover {
        background-color: $c-white;
        color: $c-green-up;
      }
      a{
        color: $c-white;
        &:hover {
          color: $c-green-up;
        }
      }
      i {
        padding-top: 15px;
        font-size: 20px;
      }

      @media only screen and (min-width: 1024px) and (max-width: 1440px) {
        right: -50px;
      }
    }
  }
}

.navbar-container2 {
  height: 50px;
  border-bottom: solid 1px $c-divider;
  color: $c-icon;
  @media only screen and(max-width: 767px) {
    padding-bottom: 14px !important;
  }
  a {
    i {
      color: $c-icon;
      &:hover {
        color: $c-active;
      }
    }
  }

  .goto {
    padding-top: 14px;
    color: $c-light;
  }
  .h-icons {
    padding-top: 14px;
    @media only screen and(max-width: 767px) {
      justify-content: space-between;
      @include display-flex();
    }
    i {
      font-size: $fs-md;
    }
    a:not(:last-child) {
      i {
        margin-right: 18px;
      }
    }
  }
  .h-resume {
    position: relative;
    padding-left: 55px;
    padding-top: 15px;
    .play-icon {
      position: absolute;
      font-size: $fs-lg;
      left: 8px;
      top: 13px;
    }

  }
  .h-grid {
    padding-top: 14px;
    font-size: $fs-md;
    .cvicon-cv-grid-view {
      padding-right: 5px;
    }
  }
}

.pages {
  ul.dropdown-menu {
    li {
      &:nth-child(even) {
        background-color: $c-white;
      }
    }
  }
  a:focus {
    color: $c-active;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .navbar-container {
    height: auto;
    .input-group input.form-control {
      width: 100%;
    }

    .container {
      .upload-button {
        top: 15px;
        right: 15px;
      }
    }
  }

  .navbar-container2 {
    height: auto;
    padding-bottom: 6px;
  }


}


@media (min-width: 100px) and (max-width: 767px) {

  .navbar-container {
    height: auto;
    padding-bottom: 15px;
    .input-group input.form-control {
      width: 100%;
    }

    .container {
      .upload-button {
        top: 165px;
        right: 15px;
      }
    }
  }

  .navbar-container2 {
    height: auto;
    padding-bottom: 15px;
  }

}



.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 300px;
  top: 0;
  left: 0;
  background-color: #fbfdfe;
  z-index: 100;
  overflow-y: auto;
  @include translate(-100%, 0);
  @include transition(transform .5s);
  @media only screen and(min-width: 768px) {
    display: none !important;
  }
  .navbar-brand {
    width: auto;
  }
  &.open {
    @include translate(0, 0);
  }
  .btn {
    width: 100%;
    height: 50px;
    padding: 12px 15px;
    border-radius: 30px;
    align-items: baseline;
    justify-content: center;
    @include display-flex();
  }
  &-head {
    min-height: 90px;
    padding: 8px 20px;
    background-color: white;
    border-bottom: solid 1px #eceff0;
    align-items: center;
    justify-content: space-between;
    @include display-flex();
  }
  &-close {
    width: 18px;
    height: 18px;
    border-left: solid 2px #637076;
    border-bottom: solid 2px #637076;
    cursor: pointer;
    @include rotate(45deg);
  }
  &-btn-color {
    width: 22px;
    height: 22px;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  &-content {
    padding: 20px 20px;
  }
  &-user {
    padding-bottom: 20px;
    border-bottom: solid 1px #eceff0;
    align-items: baseline;
    @include display-flex();
    &-img {
      position: relative;
      width: 70px;
      &::before {
        position: absolute;
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #28b47e;
        top: 2px;
        left: 2px;
      }
    }
    p {
      margin-left: 20px;
      color: #637076;
    }
    .caret {
      margin-left: auto;
    }
  }
  &-upload {
    margin-top: 20px;
    background-color: #2cce8f;
    i {
      margin-right: 12px;
      font-size: 20px;
      &::before {
        color: white;
      }
    }
    span {
      color: white;
    }
  }
  &-list {
    padding-bottom: 40px;
    margin-top: 40px;
    border-bottom: solid 1px #eceff0;
    & > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      & > li {
        margin-top: 22px;
        margin-bottom: 22px;
        & > a {
          text-decoration: none;
          align-items: center;
          @include display-flex();
          i:first-child {
            margin-right: 10px;
            font-size: 22px;
          }
          & > p {
            margin: 0;
            margin-top: 4px;
            color: #7e7e7e;
          }
          & > .caret {
            margin-top: 4px;
            margin-left: auto;
          }
        }
      }
    }
  }
  &-categories {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 22px;
    border-top: solid 1px #eceff0;
    border-bottom: solid 1px #eceff0;
    li {
      display: block;
      a {
        display: block;
        padding: 10px 0 10px 15px;
        text-decoration: none;
        align-items: center;
        @include display-flex();
        .caret {
          margin-left: auto;
        }
      }
    }
    & > li {
      &:not(:last-child) a {

        border-bottom: solid 1px #eceff0;
      }
      li a {
        border-bottom: solid 1px #eceff0;
      }
    }
    ul {
      display: none;
      list-style: none;
      padding: 0;
      z-index: 1;
      li {
        a {
          display: block;
          padding: 10px 30px;
        }
      }
    }
  }
  &-logout {
    margin-top: 20px;
    background-color: #eceff0;
  }
}

.nav-links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  width: 100%;
}

.nav-links-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;

  & li {
    width: max-content;
  }
}
/*
* HEADER END
*/
