{% extends "base.html" %} {% block title %} Connexion {% endblock %}
{% block body %}

<div class="container-fluid bg-image content-wrapper">
    <div class="row">
        <div class="login-wraper">
            <div class="hidden-xs">
                <img src="images/login.jpg" alt="">
            </div>
            <div class="banner-text hidden-xs">
                <div class="line"></div>
                <div class="b-text">
                    Des <span class="color-active">centaines<br> </span> <span class="color-b1">d'articles vous
                </span>attendent
                </div>
            </div>
            <div class="login-window">
                <div class="l-head">
                    Connexion
                </div>
                <div class="l-form">

                    {% if danger is defined %}
                    <div class="alert alert-danger" id="error">
                        {{ danger }}
                    </div>
                    {% endif %}

                    <form action="" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                                   placeholder="sample@gmail.com">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                   name="password" placeholder="**********">
                        </div>
                        <div class="checkbox">
                            <label>
                                <label class="checkbox">
                                    <input type="checkbox" name="remember" id="remember">
                                    <span class="arrow"></span>
                                </label> <span>Se souvenir de moi</span>
                                <span class="text2">(non recommandé si vous êtes sur un ordinateur partagé)</span>
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-lg-7">
                                <button type="submit" name="submit" class="btn btn-cv1">Connexion
                                </button>
                            </div>
                            <div class="hidden-xs">
                                <div class="col-lg-1 ortext">ou</div>
                                <div class="col-lg-4 signuptext"><a href="/register">Inscription</a></div>
                            </div>
                        </div>
                        <div class="row hidden-xs">
                            <div class="col-lg-12 forgottext">
                                <a href="#">Mot de passe oublié ?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% endblock %}